<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>NAB | SignIn</title>
<link rel="icon" th:href="@{/img/nab-logo.jpg}"
	href="../img/nab-logo.jpg" />
<link rel="stylesheet" th:href="@{/css/at.css}"
	href="../css/at.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous" />
<script src="/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
<script src="/js/index.js" th:src="@{/js/index.js}"></script>
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<img src="../img/sticky-nav-logo.jpg" th:href="@{/img/sticky-nav-logo.jpg}" alt="" />
			</div>
			<nav>
				<ul>
					<!--  <li><a href="">Home</a></li>
					<li><a href="">About</a></li>-->
					<li><a href="">Help</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="sidebar">
		<div class="toggle-btn" onclick="toggleSidebar()">
			<span></span> <span></span> <span></span>
		</div>
		<ul>
			<li><a>Home</a></li>
			<hr>
			<li><a>File To File</a></li>
			<hr>
			<li><a>File To DataBase</a></li>
			<hr>
			<li><a>Table To Table</a></li>
			<hr>
			<li><a>Report To DataBase</a></li>
			<hr>
		</ul>
	</div>
	
	 <section id="showform">
        <div class="container" id="uploadForm">
          <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
          <div class="dark">
                <h1>File To File Validation</h1>
				<div class="col-sm-5" style="margin-top: 36px;">
					<div class="form-group">
						<input type="file" class="form-control" style="font-size:15px;" id="uploadfile1" placeholder="Upload File" value="" name="uploadfile1"></input>
					</div>
					<br/>
			        <button type="submit" style="font-family: monospace;font-size: 15px;" class="btn" id="btnSubmit1">Upload</button>
			        <button type="button" style="font-family: monospace;font-size: 15px;" class="btn" id="btnGetFiles1">Files</button>
            </div>
            <div class="col-sm-5" style="margin-top:0px;">
					<div class="form-group">
						<input type="file" class="form-control" style="font-size:15px;" id="uploadfile2" placeholder="Upload File" value="" name="uploadfile2"></input>
					</div>
					<br/>
			        <button type="submit" style="font-family: monospace;font-size: 15px;" class="btn" id="btnSubmit1">Upload</button>
			        <button type="button" style="font-family: monospace;font-size: 15px;" class="btn" id="btnGetFiles1">Files</button>
            </div> 
            </div>
          </form>
		 </div>
     </section>
	
	
	
</body>
<!-- <footer>
		<p>© National Australia Bank Limited.</p>
</footer>-->
</html>
